﻿@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<body style="background-color:#FFCCCC">
    <div class="container" >
        <div class ="jumbotron" style="background-color:#E098AE" >
	        <Font face="AngsanaUPC">
	            <center> <h1 style="color:#FFFFFF"> เพื่อนยามยาก ในทุกการสอบ </h1></center>
	            <center> <h2 style="color:#FFFFFF"> แหล่งรวมคนช่วยติว ก่อนสอบ รอบๆ รั้ว มอ หาดใหญ่ </h2></center>
	        </Font>
	    </div>
        
        <div class="row">
	        <div class="col-sm-12">
	        <center> 
		        <img src="~/images/psu-logo.png" width=400height=200>
	        </center>
	        </div>

       <div class="row">
	        <div class="col-sm-12">
	        <Font face="AngsanaUPC">
	            <center> <h1 style="color:#993333"> ตารางเเสดงรายละเอียดการติว!! </h1></center>
	            
	        </Font>
	        </div>
       </div>
   

	 <table class="table">
		<thead>
			<tr>
			<th><center>ชื่อ-สกุล</center></th>
           <th><center>วิชาที่ติว</center></th>
            <th><center>วัน/เดือน/ปี ที่ติว </center></th>
            <th><center>เวลาที่ติว</center></th>
            <th><center>สถานที่</center></th>
            <th><center>จำนวนนักศึกษาที่รับติว (คน )</center></th>
            <th><center>อัตราค่าจ้าง (บาท/ชม.)</center></th>
           <th><center>ผู้โพส</center></th>
			</tr>
		</thead>
         <tbody>

 @foreach (var item in Model.StdTutor) {
        <tr>
            <td>
               <center>@item.Name</center>
            </td>
            <td>
                <center>@item.Subject</center>
            </td>
            <td>
                <center>@item.TutorDate</center>
            </td>
            <td>
                <center>@item.Time</center>
            </td>
            <td>
                <center>@item.Location</center>
            </td>
            <td>
                <center>@item.NumberStd</center>
            </td>
            <td>
                <center>@item.Rate</center>
            <td>
                <center>@item.postUser.FirstName  @item.postUser.LastName </center>
            </td>
            <td>
           
    </tr>

 }
 </tbody>

 <div class="row">
		<div class="col-sm-12">	
	    <center><a href="/Identity/Account/Register"> สนใจมาเเบ่งปันความรู้ </a></center>
		</div>
	</div>


  <h4> เเหล่งรวบรวมชีท : <a href=" https://web.facebook.com/psushortnote/"> PSU Short-Note</a> </h4>
  
  </body>