﻿@page
@model PSU_MoreTutor.Pages.NewsTutorAdmin.DeleteModel

@{
    ViewData["Title"] = "ลบข้อมูล";
}

<h2>ลบข้อมูล</h2>

<h3>คุณเเน่ใจเเล้วใช่ไหมว่าจะลบข้อมูล?</h3>
<div>
    <h4>StdTutor</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.StdTutor.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.StdTutor.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.StdTutor.Subject)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.StdTutor.Subject)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.StdTutor.TutorDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.StdTutor.TutorDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.StdTutor.Time)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.StdTutor.Time)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.StdTutor.Location)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.StdTutor.Location)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.StdTutor.NumberStd)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.StdTutor.NumberStd)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.StdTutor.Rate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.StdTutor.Rate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.StdTutor.postUser)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.StdTutor.postUser.Id)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="StdTutor.StdTutorID" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
