﻿@page
@model PSU_MoreTutor.Pages.NewsTutorAdmin.DetailsModel

@{
    ViewData["Title"] = "รายละเอียด";
}

<h2>ข้อมูลนักศึกษาที่ต้องการจะโพส</h2>

<div>
    <h4>รายละเอียดดังนี้</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            ชื่อ - สกุล
        </dt>
        <dd>
            @Html.DisplayFor(model => model.StdTutor.Name)
        </dd>
        <dt>
           วิชาที่เปิดติว
        </dt>
        <dd>
            @Html.DisplayFor(model => model.StdTutor.Subject)
        </dd>
        <dt>
           วัน/เดือน/ปี ที่ติว
        </dt>
        <dd>
            @Html.DisplayFor(model => model.StdTutor.TutorDate)
        </dd>
        <dt>
           เวลา (น.)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.StdTutor.Time)
        </dd>
        <dt>
             สถานที่
        </dt>
        <dd>
            @Html.DisplayFor(model => model.StdTutor.Location)
        </dd>
        <dt>
             จำนวนนักศึกษาที่รับติว (คน)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.StdTutor.NumberStd)
        </dd>
        <dt>
           อัตราค่าจ้าง (บาท/ชม.)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.StdTutor.Rate)
        </dd>
        <dt>
             ผู้โพส
        </dt>
        <dd>
            @Html.DisplayFor(model => model.StdTutor.postUser.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.StdTutor.StdTutorID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
