﻿@page
@model PSU_MoreTutor.Pages.NewsTutorAdmin.EditModel

@{
    ViewData["Title"] = "เเก้ไขข้อมูล";
}

<h2>เเก้ไขข้อมูล</h2>

<h4>กรอกรายละเอียดดังนี้</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="StdTutor.StdTutorID" />
            <div class="form-group">
                ชื่อ - สกุล
                <input asp-for="StdTutor.Name" class="form-control" />
                <span asp-validation-for="StdTutor.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                 วิชาที่เปิดติว
                <input asp-for="StdTutor.Subject" class="form-control" />
                <span asp-validation-for="StdTutor.Subject" class="text-danger"></span>
            </div>
            <div class="form-group">
                 วัน/เดือน/ปี ที่ติว
                <input asp-for="StdTutor.TutorDate" class="form-control" />
                <span asp-validation-for="StdTutor.TutorDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                เวลา (น.)
                <input asp-for="StdTutor.Time" class="form-control" />
                <span asp-validation-for="StdTutor.Time" class="text-danger"></span>
            </div>
            <div class="form-group">
                สถานที่
                <input asp-for="StdTutor.Location" class="form-control" />
                <span asp-validation-for="StdTutor.Location" class="text-danger"></span>
            </div>
            <div class="form-group">
                 จำนวนนักศึกษาที่รับติว (คน)
                <input asp-for="StdTutor.NumberStd" class="form-control" />
                <span asp-validation-for="StdTutor.NumberStd" class="text-danger"></span>
            </div>
            <div class="form-group">
                อัตราค่าจ้าง (บาท/ชม.)
                <input asp-for="StdTutor.Rate" class="form-control" />
                <span asp-validation-for="StdTutor.Rate" class="text-danger"></span>
            </div>
            <div class="form-group">
                ผู้โพส 
                <select asp-for="StdTutor.NewsUserId" class="form-control" asp-items="ViewBag.NewsUserId"></select>
                <span asp-validation-for="StdTutor.NewsUserId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
