﻿@page
@model PSU_MoreTutor.Pages.NewsTutorAdmin.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h2>หน้าเเสดงข้อมูลนักศึกษาที่จะเปิดติว</h2>

<p>
    <a asp-page="Create">สร้างข้อมูลใหม่</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
               ชื่อ - สกุล
            </th>
            <th>
                วิชาที่เปิดติว
            </th>
            <th>
                 วัน/เดือน/ปี ที่ติว
            </th>
            <th>
                เวลา (น.)
            </th>
            <th>
                สถานที่
            </th>
            <th>
                จำนวนนักศึกษาที่รับติว (คน)
            </th>
            <th>
                อัตราค่าจ้าง (บาท/ชม.)
            </th>
            <th>
                ผู้โพส
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.StdTutor) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Subject)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TutorDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Time)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Location)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumberStd)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.postUser.UserName)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.StdTutorID">เเก้ไข</a> |
                <a asp-page="./Details" asp-route-id="@item.StdTutorID">รายละเอียด</a> |
                <a asp-page="./Delete" asp-route-id="@item.StdTutorID">ลบข้อมูล</a>
            </td>
        </tr>
}
    </tbody>
</table>
